
*{
	margin: 0;
	padding: 0;	
}
 body{
 	font-family: 'Satisfy', cursive;
}
.container{
	width: 100%;
	height: 100vh;
	background: url(image/safe.jpg) center no-repeat;
	background-size: cover;
}
/*style of navbar */
/*position is fixed to the right */
.navbar{
	width: 300px;
	height: 100%;
	background-color: #262626;
	position: fixed;
	top: 0;
/* hides the navbar */
	right: -300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20% 0 0 60%;
	transition: right .8s cubic-bezier(1, 0, 0, 1);
}
/*hamburger menu styles */
.hamburger-menu {
	width: 35px;
	height: 30px;
	position: fixed;
	top: 50px; 
	right: 50px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Shows the navbar */
.change {
	right: 0;
}
/* Each 3 lines ---- */
.line {
	width: 100%;
	height: 3px;
	background-color: #fff;
	box-shadow: 0 0 10px #fff,
	             0 0 20px #fff,
	             0 0 40px #fff,
	             0 0 80px #fff,
	             0 0 120px #fff,
	             0 0 160px #fff;
	transition: all 0.8s;
}
/* X icon for .hamburger-menu */
.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
	opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.nav-list {
	text-align: right;
}
.nav-item {
	list-style: none;
	margin: 25px;
}
 /* individual navigation links */
 .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}	
.nav-link::before, .nav-link::after {
	content:"";
	width: 100%;
	height: 2px;
	background-color: white;
	box-shadow:  0 0 5px #009D99,
	             0 0 25px #009D99,
	             0 0 50px #009D99,
	             0 0 100PX #009D99;
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
}
.nav-link::before {
	bottom: 0; 
	transform-origin: right;
}
.nav-link::after {
	top: 0;
	transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
	transform:scalex(1);
}

