*{
	margin: 0;
	padding: 0;	
}
 body{
 	font-family: 'slabo 27px', serif;
 	background: url(image/landscape.jpg) center no-repeat;
 	height: 100vh;
}
.wrapper{
     margin: auto;
}
.container{
	width: 100%;
	background-size: cover;
}
/*style of navbar */
/*position is fixed to the right */
.navbar{
	width: 300px;
	height: 100%;
	background-color: #262626;
	position: fixed;
	top: 0;
/* hides the navbar */
	right: -300px;
	display: flex ;
	justify-content: center;
	align-items: center;
	transition: right .8s cubic-bezier(1, 0, 0, 1);
	background-color: black;
	opacity: .9;
}

/*hamburger menu styles */
.hamburger-menu {
	width: 35px;
	height: 30px;
	position: fixed;
	top: 50px; 
	right: 50px;
	display: flex ;
	cursor: pointer;
	flex-direction: column;
	justify-content: space-around;
}

/* Shows the navbar */
.change {
	right: 0;
}
/* Each 3 lines ---- */
.line {
	width: 100%;
	height: 3px;
	background-color: #fff;
	box-shadow: 0 0 10px #fff,
	             0 0 20px #fff,
	             0 0 40px #fff,
	             0 0 80px #fff,
	             0 0 120px #fff,
	             0 0 160px #fff;
	transition: all 0.8s;
}
/* X icon for .hamburger-menu */

.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
	opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.nav-list {
	text-align: right;
}
.nav-item {
	list-style: none;
	margin: 25px;
}
 /* individual navigation links */
 .nav-link {
 	text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}	
.nav-link::before, .nav-link::after {
	content:"";
	width: 100%;
	height: 2px;
	background-color: white;
	box-shadow:  0 0 5px #009D99,
	             0 0 25px #009D99,
	             0 0 50px #009D99,
	             0 0 100PX #009D99;
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
}
.nav-link::before {
	bottom: 0; 
	transform-origin: right;
}
.nav-link::after {
	top: 0;
	transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
	transform:scalex(1);

}
/*home section begins*/

.text {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.welcome-text {
	position: absolute;
	top: 50px;
	width: 500px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: black;
}
.welcome-text a:hover {
   background: #fff;
   color: #333;
   	box-shadow: 0 0 5px #009D99,
	             0 0 25px #009D99,
	             0 0 50px #009D99,
	             0 0 100PX #009D99; 
}
@media (max-width:800px){
	.container{
		position: fixed;
	}
	.welcome-text{
		left: -50%;
		top: 30%;

	}
    .navbar{
    	width: 180px;
    }
}
/*home section ends */


/* contact page start */
.contact {
	position: relative;
	height: 80vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: #9fa8a3;
}
.container-c{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-c .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container-c .contactInfo .box-x{
	position: relative;
	padding: 20px 0;
	display: flex;
	color: white;
}
.container-c .contactInfo .box-x .icon{
	min-width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
	color: white;
}
.container-c .contactInfo .box-x .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.container-c .contactInfo .box-x .text h3{
	font-weight: 500;
	color: #3fb0ac;
}
.contact-form{
	width: 40%;
	padding: 40px;
	background: #fff;
	opacity: .8;
}
.contact-form h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contact-form .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contact-form .inputbox input,
.contact-form .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contact-form .inputbox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contact-form .inputbox input:focus ~ span,
.contact-form .inputbox input:valid ~ span,
.contact-form .inputbox textarea:focus ~ span,
.contact-form .inputbox textarea:valid ~ span{
	color: #3fb0ac;
	font-size: 12px;
	transform: translateY(-20px);
}
.contact-form .inputbox input[type="submit"]{
	width: 100px;
	background: #3fb0ac;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
@media (max-width: 991px){
	.contact{
		padding: 60px;
		height: 120vh;
	}
	.container-c{
		flex-direction: column;
	}
	.container-c .contactInfo{
		width: 80%;
		margin-bottom: 20px;
	}
	.contact-form{
		width: 60%;
	}

/* contact page end */

/* portfolio page start */
}
.main{
	position: relative;
	height: 8vh;
	width: 100%;
}
.main h1{
	position: relative;
	height: auto;
	width: 500px;
	left: 50%;
	transform: translateX(-50%);
	margin:5% 0 2% 0;
	text-align: center;
	font-size: 1.8cm;
	font-weight: 400;
	letter-spacing: 1.5px;
	color: #9fa8a3;
	background: rgba(0, 0, 0, 0.05);
}
.image-grid {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-top: 10%;
	align-items: center;
	justify-content: center;g
}

.grid-image {
	display:block;
	flex-basis: 100%;
	padding: 10px;
	box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
	.grid-image {
		flex-basis: 50%;
	}	
}
@media only screen and (min-width: 960px) {
	.grid-image {
		flex-basis: 33.333%;
	}	
}

@media only screen and (min-width: 1280px) {
	.grid-image {
		flex-basis: 25%;
	}
}


/* portfolio page end */

/*cv page begin */
}
body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'Slabo 27px', serif;
}
h1{
    margin: 0;
    font-weight: 300;
}
h2{
    margin: 0;
    font-weight: 400;
    display: inline-block;
}
.box{
    background: #fff;
    width: 50rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    background: rgb(240, 239, 239);
}
.header-v{
    display: grid;
    grid-template-columns: 40% 60%;
}
.header-left {
    display: grid;
    align-items: center;
    font-size: 2rem;
}
.first-name {
    font-weight: 400;
    margin: 0;
}
.last-name{
    font-weight: 200;
    margin: 0;
}
.header-right{
    width: 100%;
    display: grid;
    justify-items: end;
}
.header-right p{
    display: inline;
}
.icon{
    color: rgba(190, 190,190);
    font-size:1.5rem;
    margin-right: 0.5rem;
}
.blue{
    background:#173e43;
    color:#fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
table{
    border: 2px solid #000;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
td,
th {
    border: 1px solid #000;
    padding: 0.4rem;
}
#course-name{
	font-weight: bold;
}
#known-name{
	font-weight: bold;
}
.Declaration{
	margin: 1rem 0;
}
@media (max-width:750px){
	.box{
		width: 15rem;
	}
	td,
	th {
		padding: 0.1rem;
	}
	.first-name{
		font-size: 30px;
	}
	.last-name {
		font-size: 27px;
	}
	.box{
		margin-top: 100px;
		padding: 2rem;
		height: 850px;
	}
	.header-right{
		font-size: 11px;
	}
}
/* cv page end */

